/*



            */
@import url('https://fonts.googleapis.com/css2?family=Bokor&family=Ewert&family=Rubik+Puddles&display=swap');

*  {
    box-sizing: border-box;
}

body {
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),           
                linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),            
                linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    font-family: Rubik Puddles, sans-serif;
    min-height: 100vh;
    margin: 0;
}

h1 {
    display: inline-block;
    text-align: center;
    background-color: black;
    border: 8px solid darkgoldenrod;
    border-radius: 25px;
    color: darkred;
    font-size: 40px;
    font-weight: bolder;
    padding: 20px;

}

h1:hover {
    color: yellow;
    background-color: red;
    border: 8px solid yellow;

}

.h1 {
    text-align: center;
}

.container {
    margin: auto;
    padding: 20px;
}

.btn {
    cursor: pointer;
    background-color: black;
    border: 4px solid darkgoldenrod;
    border-radius: 25px;
    color: darkred;
    font-size: 16px;
    font-weight: bolder;
    padding: 10px;
}

.btn:active {
    transform: scale(0.95);
} 

.btn:hover {
    color: yellow;
    border: 4px solid yellow;  
}

.btn:focus,
select:focus {
    outline: 0;
}

.btn-toggle {
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

.text-box{
    width: 70%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -800px);
    background-color: black;
    color: yellow;
    padding: 20px;
    border-radius: 25px;
    transition: all 1s ease-in-out;
}

.text-box.show {
    transform: translate(-50%, 0);
}

.text-box select {
    background-color: darkred;
    border: 0;
    padding-left: 10px;
    color: yellow;
    font-size: 12px;
    height: 30px;
    width: 100%;
    border-radius: 15px;
}

.text-box textarea {
    border: 1px darkgoldenrod solid;
    border-radius: 15px;
    font-size: 16px;
    font-weight: bolder;
    padding: 8px;
    margin: 15px 0;
    width: 100%;
    background-color: yellow;
    color: darkred;
    height:  150px;
}    

.text-box .close {
    float: right;
    font-weight: bolder;
    text-align: center;
    cursor: pointer;
    color: darkred;
    background-color: black;
    border: 4px solid darkgoldenrod;
    border-radius: 50px;
    padding: 8px;
}
.close:hover {
    cursor: pointer;
    color: yellow;
    border: 4px solid yellow;
    background-color: black
}

.close:active {
    transform: scale(0.95);
}
main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.box {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: box-shadow 0.2s ease-out;
}

.box.active {
    box-shadow: 0 0 10px 5px darkred;
}
.box img {
    width: 100%;
    object-fit: fill;
    height: 200px;
}

.box .info {
    background-color: darkgoldenrod;
    color: black;
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
    letter-spacing:  1px;
    text-transform: uppercase;
    margin: 0;
    padding: 10px;
    height: 100%;
}

@media(max-width: 1100px) {
    main {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media(max-width: 760px) {
    main {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(max-width: \500px) {
    main {
        grid-template-columns: 1fr;
    }
}